body /*{ */
    /* font-family: 'Kantumruy Pro'; */
  /* } */

.kantumruy-pro {
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  
.container {
max-width: 1100px;
margin: 20px auto;
background-color: rgba(226, 122, 43, 0.25);
border-radius: 20px;
padding: 30px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.postContent {
background-color: white;
font-size: 30px;
border-radius: 15px;
padding: 20px;
margin-bottom: 20px;
border-radius: 10px;
border: 1px solid #E06B1D;
}

::placeholder {
    color: #E06B1D;
    font-family: "Kantumruy Pro";
    opacity: 1;
    font-size: 20px;
  }

.header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 15px;
}

.userInfo {
display: flex;
align-items: center;
}

.avatar {
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 10px;
}

.username {
font-weight: regular;
color: #E06B1D;
font-size: 20px
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 10px;
  }

.topIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
.arrowIcon {
    position: absolute;
    top: 10px;
    left: -30px; 
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

.iconSpacing {
margin-left: 10px;
}

.additionalInfo {
color: #E06B1D;;
font-size: 20px;
}

.commentInput {
    color: #E06B1D;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #E06B1D;
    margin-bottom: 0px;
    font-family: 'Kantumruy Pro';
    position: relative;
    transition: height 0.2s ease;
    min-height: 45px; /* Keep the starting height */
    vertical-align: top;
    font-size: 15px;
    resize: none; /* Disable manual resizing */
    overflow: hidden; /* Hide the scroll bar */
}


.commentInput:focus {
    min-height: 80px;
}

.commentButton {
background-color: rgba(226, 122, 43, 0.25);
color: white; 
padding: 8px 20px;
border: 1px solid #E06B1D;
border-radius: 5px;
cursor: pointer;
position: absolute;
bottom: 10px; 
right: 10px; 
display: none;
margin-top: 5px;
}

.commentButtonVisible {
display: block;
}

/* .commentButton:hover {
background-color: #D55A1A;
} */

.commentsSection {
margin-top: 20px;
background-color: white;
border-radius: 20px;
border: 1px solid #E06B1D;
padding: 20px;
font-weight: normal;
font-family: "Kantumruy Pro";
}

.commentHeader {
color: #E06B1D;
margin-bottom: 10px;
font-size: 25px;
text-align: center;
font-weight: normal;
}

.comment {
background-color: white;
border-radius: 10px;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #E06B1D;

}

/* all text uses the same color */
.container, .postContent, .content, .commentInput, .commentButton, .commentsSection {
color: #E06B1D;
font-family: "Kantumruy Pro";
}