.container {
    display: flex;
    margin-top: 29px;
    gap: 25px;
    font-family: Kantumruy Pro, -apple-system, Roboto, Helvetica, sans-serif;
    color: rgba(224, 107, 29, 1);
    font-weight: 400;
    flex-wrap: wrap;
  }
  
  .searchSection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    width: fit-content;
  }
  
  @media (max-width: 991px) {
    .searchSection {
      max-width: 100%;
    }
  }
  
  .searchTitle {
    font-size: 32px;
    align-self: center;
  }
  
  @media (max-width: 991px) {
    .searchTitle {
      max-width: 100%;
    }
  }
  
  .searchInput {
    border-radius: 50px;
    background-color: rgba(217, 217, 217, 0.56);
    align-self: center;
    margin-top: 22px;
    width: 619px;
    max-width: 100%;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
    padding: 15px 20px;
  }
  
  .postButton {
    border-radius: 15px;
    background-color: rgba(224, 107, 29, 1);
    align-self: center;
    margin-top: 42px;
    width: 388px;
    max-width: 100%;
    color: rgba(255, 255, 255, 1);
    padding: 8px 70px;
    font: 465 24px Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .postButton {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  
  .scrollbar {
    border-radius: 30px;
    background-color: rgba(217, 217, 217, 0.9);
    display: flex;
    width: 8px;
    height: 188px;
    margin: auto 0;
  }